In [47]:
import pandas as pd
import seaborn as sns
import numpy as np
import warnings
import os

In [ ]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
cityDf = pd.read_csv('city_info.csv', index_col=0)

In [ ]:
cityDf.head()

In [ ]:
# get all the file names in the directory
files = os.listdir('rain_data')
#For all the file in the rain_data directory, drop the 'Unnamed 0' column, and change Date column name to Local Date
for file in files:
    df = pd.read_csv('rain_data/' + file)
    df.drop('Unnamed: 0', axis=1, inplace=True)
    df.rename(columns={'Date': 'Date Local'}, inplace=True)
    df.to_csv('rain_data/' + file, index=False)

In [ ]:
# pip install folium
import folium

# Create a map centered around the average latitude and longitude
map_center = [df['Lat'].mean(), df['Lon'].mean()]
m = folium.Map(location=map_center, zoom_start=5)

# Add markers for each location in the dataframe
for idx, row in df.iterrows():
    folium.Marker([row['Lat'], row['Lon']], popup=row['Name']).add_to(m)

# Display the map
m

In [63]:
#For all the csvs in the rain_data folder, I want to eliminate all rows with date < 1980-01-01
import os
import glob
import pandas as pd
import numpy as np

path = 'rain_data'
all_files = glob.glob(os.path.join(path, "*.csv"))

for file in all_files:
    df = pd.read_csv(file)
    df = df[df['Date Local'] >= '2010-01-01']
    df.to_csv(file, index=False)

In [191]:
import pandas as pd

# Read the CSV
ozoneDf = pd.read_csv('Ozone1997.csv')
#filter city name Los Angeles, Phoenix, New York, Philadelphia, Washington,
#Salt Lake City, Atlanta, Miami, Chicago, Boston

ozoneDf = ozoneDf[ozoneDf['City Name'].isin(['Los Angeles', 'Phoenix', 'New York', 'Philadelphia', 'Washington', 'Salt Lake City', 'Atlanta', 'Miami', 'Chicago', 'Boston'])]
# Keep only selected columns
ozoneDf = ozoneDf[['Date Local', 'Arithmetic Mean', 'State Name', 'City Name', 'Site Num']]
# Rename 'Arithmetic Mean' to 'Ozone Arithmetic Mean'
ozoneDf.rename(columns={'Arithmetic Mean': 'Ozone Arithmetic Mean'}, inplace=True)
ozoneDf.to_csv('Ozone1997.csv', index=False)

/var/folders/kd/2c5f0yd15v354rgh5wxlmmnm0000gn/T/ipykernel_21504/4044732196.py:4: DtypeWarning: Columns (0,13) have mixed types. Specify dtype option on import or set low_memory=False.
  ozoneDf = pd.read_csv('Ozone1997.csv')

In [192]:
import pandas as pd

# Read the CSV
carbonDf = pd.read_csv('Carbon1997.csv')
#filter city name Los Angeles, Phoenix, New York, Philadelphia, Washington,
#Salt Lake City, Atlanta, Miami, Chicago, Boston

carbonDf = carbonDf[carbonDf['City Name'].isin(['Los Angeles', 'Phoenix', 'New York', 'Philadelphia', 'Washington', 'Salt Lake City', 'Atlanta', 'Miami', 'Chicago', 'Boston'])]
# Keep only selected columns
carbonDf = carbonDf[['Date Local', 'Arithmetic Mean', 'State Name', 'City Name', 'Site Num']]
# Rename 'Arithmetic Mean' to 'Carbon Arithmetic Mean'
carbonDf.rename(columns={'Arithmetic Mean': 'Carbon Arithmetic Mean'}, inplace=True)
carbonDf.to_csv('Carbon1997.csv', index=False)

/var/folders/kd/2c5f0yd15v354rgh5wxlmmnm0000gn/T/ipykernel_21504/430541558.py:4: DtypeWarning: Columns (13,27) have mixed types. Specify dtype option on import or set low_memory=False.
  carbonDf = pd.read_csv('Carbon1997.csv')

In [195]:
import pandas as pd

# Load the dataframes
ozoneDf = pd.read_csv('Ozone1997.csv')
coTwoDf = pd.read_csv('Carbon1997.csv')

# Merge the dataframes on 'Date Local' and 'City Name', but keep only the matching 'Site Num'
mergedDf = pd.merge(ozoneDf, coTwoDf, on=['Date Local', 'City Name', 'Site Num'], how='inner')

mergedDf.to_csv('mergedData.csv', index=False)

In [196]:
#Drop State_Name_y column
mergedDf.drop('State Name_y', axis=1, inplace=True)
#rename State_Name_x to State Name
mergedDf.rename(columns={'State Name_x': 'State Name'}, inplace=True)
mergedDf.to_csv('mergedData.csv', index=False)
mergedDf.head()

,Date Local,Ozone Arithmetic Mean,State Name,City Name,Site Num,Carbon Arithmetic Mean
0,1997-01-01,0.012824,Arizona,Phoenix,13,1.826087
1,1997-01-01,0.012824,Arizona,Phoenix,13,1.600000
2,1997-01-02,0.011765,Arizona,Phoenix,13,1.713636
3,1997-01-02,0.011765,Arizona,Phoenix,13,1.662500
4,1997-01-03,0.007882,Arizona,Phoenix,13,1.839130

In [190]:
existingMerge = pd.read_csv('finalDf.csv')
otherMerge = pd.read_csv('mergedData.csv')

#Concatenate the two dataframes
finalMerge = pd.concat([otherMerge, existingMerge])

#Drop duplicates
finalMerge.drop_duplicates(inplace=True)

#Write to CSV
finalMerge.to_csv('finalDf.csv', index=False)

/var/folders/kd/2c5f0yd15v354rgh5wxlmmnm0000gn/T/ipykernel_21504/4036105860.py:1: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  existingMerge = pd.read_csv('finalDf.csv')

In [ ]:
#filter city name Los Angeles, Phoenix, New York, Philadelphia, Washington,
#Salt Lake City, Miami, Boston

In [199]:
finalDf = pd.read_csv('finalDf.csv')
#how many unique City Name in the finalDf and what are they?
uniqueCityNames = finalDf['City Name'].unique()
for i in uniqueCityNames:
    print(i)

Phoenix
Los Angeles
Washington
Boston
New York
Miami
Philadelphia
Salt Lake City

In [203]:
import os
# get all the file names in the directory
files = os.listdir('rain_data')

#for all the files in the rain_data directory, eliminate all rows with date < 2001-01-01
for file in files:
    df = pd.read_csv('rain_data/' + file)
    df = df[df['Date Local'] >= '2001-01-01']
    df.to_csv('rain_data/' + file, index=False)

In [218]:
finalDf = pd.read_csv('finalDf.csv')
#Drop columns State Name_x and State Name_y, State Name
finalDf.drop(['State Name_x', 'State Name_y'], axis=1, inplace=True)
#drop rows with NaN values
finalDf.dropna(inplace=True)
#Write to CSV
finalDf.to_csv('finalDf.csv', index=False)

/var/folders/kd/2c5f0yd15v354rgh5wxlmmnm0000gn/T/ipykernel_21504/3677753946.py:1: DtypeWarning: Columns (2,6) have mixed types. Specify dtype option on import or set low_memory=False.
  finalDf = pd.read_csv('finalDf.csv')

In [221]:
#concatenate all the rain data files into one dataframe
import os
import pandas as pd
import glob


path = 'rain_data'
all_files = glob.glob(os.path.join(path, "*.csv"))

weather_data = pd.concat([pd.read_csv(file) for file in all_files], ignore_index=True)

weather_data.to_csv('weather_data.csv', index=False)

In [222]:
#Merge the weather data with the finalDf

finalDf = pd.read_csv('finalDf.csv')
weatherData = pd.read_csv('weather_data.csv')

mergedDf = pd.merge(finalDf, weatherData, on=['Date Local', 'City Name'], how='inner')

#Drop rows with NaN values
mergedDf.dropna(inplace=True)

#Write to CSV
mergedDf.to_csv('mergedDf.csv', index=False)